.sideBarContainer {
	background: rgb(189, 159, 127);
	width: 17em;
	height: calc(100% - 10em);
	position: fixed;
	top: 10em;
}

.sideBarRow {
	color: white;
	font-size: 1.2em;
	height: 25%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.sideBarRow:hover {
	color: white;
	background: rgb(157, 132, 112);
}